<header class="navbar navbar-light navbar-fixed-top bg-faded bd-navbar">
  <div class="">
    <a class="navbar-brand" href="/">どこでもアンケート</a>
  </div>

  <nav class="navbar-toggleable-xs collapse" id="app-nav" aria-expanded="false" style="height: 0px;">
    <ul class="nav navbar-nav row pull-right">
      <li class="nav-item">
        <span ng-if="dokoEnq.isOnline()">On</span>
        <span ng-if="!dokoEnq.isOnline()">Off</span>
      </li>
      <li class="nav-item pull-right" ng-if="1"><a class="nav-link" href="store">Reseult</a></li>
      <li class="nav-item pull-right">
        <a href="signin" class="btn btn-primary" ng-if="!dokoEnq.fb.authData">Sign In</a>
        <button ng-click="dokoEnq.signOut()" class="btn btn-danger" ng-if="dokoEnq.fb.authData">Sign Out</button>
      </li>
      <!-- <li class="nav-item" ng-if="1" style="float:right;"><a class="nav-link" href="menu">MENU</a></li> -->
      <!-- <li class="nav-item"><a class="nav-link" ng-link="home">Home</a></li>
      <li class="nav-item"><a class="nav-link" ng-link="about">About</a></li>
      <li class="nav-item"><a class="nav-link" ng-link="contact">Contact</a></li>
      <li class="nav-item"><a class="nav-link" href="https://github.com/albatrosary/generator-angular-eggs/blob/master/readme.md">github</a></li> -->
    </ul>
  </nav>
</header>
