<div class="box effect">
<dokoenq-enquete-title></dokoenq-enquete-title>
<!-- <div> -->
  <!-- <pre>{{question.questionAll.enquetes.enquete1.questions|json}}</pre> -->
  <!-- <pre>{{question.question|json}}</pre> -->
<!-- </div> -->
<form name="myForm">
  <div ng-repeat="(no, q) in question.question.questions">
    <p>
      {{no | uppercase}}:{{q.question}}
    </p>
    <!-- テキスト入力 -->
    <div class="form-group">
      <div ng-if="q.type == 'text'">
        <input type="text" name="{{no}}" ng-model="question.answer[no]" ng-required="{{q.require}}" class="form-control">
      </div>
    </div>
    <!-- ラジオボタン -->
    
    <div ng-if="q.format='single'">
      <h3><label class="label label-primary" ng-repeat="item in q.items">
        <input type="radio" name="{{no}}" ng-model="question.answer[no]" value="{{$index}}" ng-required="{{q.require}}">
        {{item}}
      </label></h3>
    </div>
    <br>
  </div>

</form>

</div>
<nav>
  <ul class="pager">
    <li class="previous">
      <a href="/description" ng-click="question.temporarilyStored()">
        <span aria-hidden="true">&larr;</span>
        戻る</a>
    </li>
    <li class="next" ng-disabled="true">
      <a href="/confirm" ng-click="question.temporarilyStored()">進む
        <span aria-hidden="true">&rarr;</span>
      </a>
    </li>
  </ul>
</nav>
