<header class="navbar navbar-light navbar-fixed-top bg-faded bd-navbar">
  <div class="">
    <a class="navbar-brand" href="/">どこでもアンケート</a>
  </div>
   <nav id="app-nav" aria-expanded="false" style="height: 0px;"> <!--class="navbar-toggleable-xs collapse"  -->
    <ul class="nav navbar-nav row pull-right">
      <li class="nav-item">
        <img class="online-status" src="images/online.png" alt="online" ng-if="dokoEnq.isOnline()"></img>
        <img class="online-status" src="images/offline.png" alt="offline" ng-if="!dokoEnq.isOnline()"></img>
      </li>
      <li class="nav-item pull-right" ng-if="1">
        <a class="nav-link" href="store">Reseult</a>
      </li>
      <li class="nav-item pull-right">
        <a href="signin" class="signInButton" ng-if="!dokoEnq.fb.authData">Sign In</a>
        <button ng-click="dokoEnq.signOut()" class="btn btn-danger" ng-if="dokoEnq.fb.authData">Sign Out</button>
      </li>
      <!-- <li class="nav-item" ng-if="1" style="float:right;"><a class="nav-link" href="menu">MENU</a></li> -->
      <!-- <li class="nav-item"><a class="nav-link" ng-link="home">Home</a></li>
      <li class="nav-item"><a class="nav-link" ng-link="about">About</a></li>
      <li class="nav-item"><a class="nav-link" ng-link="contact">Contact</a></li>
      <li class="nav-item"><a class="nav-link" href="https://github.com/albatrosary/generator-angular-eggs/blob/master/readme.md">github</a></li> -->
    </ul>
  </nav>
</header>
