<div class="box effect">
<dokoenq-enquete-title></dokoenq-enquete-title>

<div class="form-group">
  <label for="affiliation" class="control-label">所属</label>
  <input type="text" class="form-control" name="affiliation" ng-model="personal.affiliation">
</div>
<div class="form-group">
  <label for="name" class="control-label">氏名</label>
  <input type="text" class="form-control" name="name" ng-model="personal.name">
</div>
<div class="form-group">
  <label for="email" class="control-label">メール</label>
  <input type="text" class="form-control" name="email" ng-model="personal.email">
</div>

<!-- <div class="button" ngf-select ng-model="personal.files" name="file" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100" ngf-resize="{width: 100, height: 100}">Select</div> -->

<div>
  <img ngf-src="personal.files[0]"/>
</div>
</div>
<div>
  <nav>
    <ul class="pager">
      <li class="previous">
        <a href="/description" ng-click="personal.temporarilyStored()" class="my button blue">
          <span aria-hidden="true">&larr;</span>
          戻る</a>
      </li>
      <li class="next">
        <a href="/question" ng-click="personal.temporarilyStored()" class="my button blue">進む
          <span aria-hidden="true">&rarr;</span>
        </a>
      </li>
    </ul>
  </nav>

</div>
