<dokoenq-enquete-title></dokoenq-enquete-title>

<h4>確認画面</h4>
<div>
  <ul>
    <li>所属：{{confirm.tempAnswer.affiliation}}</li>
    <li>氏名：{{confirm.tempAnswer.name}}</li>
    <li>メール：{{confirm.tempAnswer.email}}</li>
  </ul>
</div>

<div>
  <nav>
    <ul class="pager">
      <li>
        <a href="/personal" class="my button blue">
          <span aria-hidden="true">&larr;</span>戻る
        </a>
      </li>
      <li>
        <a ng-click="confirm.store()" href="/complete" class="my button blue">
          <!-- <span aria-hidden="true"></span> -->
          回答する
        </a>
      </li>
    </ul>
  </nav>
</div>
