<dokoenq-enquete-title></dokoenq-enquete-title>
<!-- <div> -->
  <!-- <pre>{{question.questionAll.enquetes.enquete1.questions|json}}</pre> -->
  <!-- <pre>{{question.question|json}}</pre> -->
<!-- </div> -->
{{question.hoge}}
{{question}}
{{question.answer}}
<div ng-repeat="(no, q) in question.question.questions">
  <p>
    {{no | uppercase}}:{{q.question}}
  </p>
  <!-- テキスト入力 -->
  <div ng-if="q.type == 'text'">
    <input type="text" name="{{no}}" ng-model="question.answer[no]" ng-required="{{q.require}}">
  </div>
  <!-- ラジオボタン -->
  <div ng-if="q.format='single'">
    <span class="label label-default"  ng-repeat="item in q.items">
      <input type="radio" name="{{no}}" ng-model="question.answer[no]" value="{{$index}}" ng-required="{{q.require}}">
      {{item}}
    </span>
  </div>
</div>
<nav>
  <ul class="pager">
    <li class="previous">
      <a href="/description" ng-click="question.temporarilyStored()" class="my button blue">
        <span aria-hidden="true">&larr;</span>
        戻る</a>
    </li>
    <li class="next">
      <a href="/confirm" ng-click="question.temporarilyStored()" class="my button blue">進む
        <span aria-hidden="true">&rarr;</span>
      </a>
    </li>
  </ul>
</nav>
