<button class="btn btn-primary" ng-click="signin.signin('github')">Sign In by GitHub</button>
<!-- ボタンのセット -->
<div id="signInButton">
  <ul>
    <!-- GitHub -->
    <li class="signInButton-github">
      <a href="#" target="_blank">GitHub</a>
    </li>
    <!-- Twitter -->
    <li class="signInButton-twitter">
      <a href="#" target="_blank">Twitter</a>
    </li>
    <!-- Facebook -->
    <li class="signInButton-facebook">
      <a href="#" target="_blank">Facebook</a>
    </li>
    <!-- Google+ -->
    <li class="signInButton-google">
      <a href="#" target="_blank">Google+</a>
    </li>
    <!-- はてなブックマーク -->
    <li class="signInButton-hatena">
      <a href="#" target="_blank">はてブ</a>
    </li>
    <!-- Pocket -->
    <li class="signInButton-pocket">
      <a href="#" target="_blank">Pocket</a>
    </li>
    <!-- LINE -->
    <li class="signInButton-line">
      <a href="#">LINE</a>
    </li>
  </ul>
</div>
