<div class="row">
  <div class="col-md-8">
    <div>

      回答
      <span class="badge">{{store.pushed.length}}</span>
      <!-- <span ng-if="store.unpushed.length">
        （
      ）
    </span> -->
    </div>
    <ul class="list-group">
      <li class="list-group-item" ng-repeat="answered in store.pushed  track by $index">
        <ul>
          <li ng-repeat="(no, q) in store.question.questions">
            {{no | uppercase}}
            {{q.question}}
            :
            {{q.type == 'select' ? q.items[answered[no]] : answered[no]}}

          </li>
        </ul>
        <!-- <button type="button" name="button" ng-click="store.pushed.$remove(answered)"></button> -->
      </li>
    </ul>

    未送信
    <span class="badge">{{store.unpushed.length}}
    </span>
    <button type="button" name="button" ng-click="store.allPush()" class="btn btn-primary" ng-disabled="!store.isOnline()">送信する</button>

    <ul class="list-group">
      <li class="list-group-item" ng-repeat="answer in store.unpushed track by $index">{{answer}}</li>
    </ul>

  </div>

  <div class="col-md-4">
    <c3chart bindto-id="dynamicpie" chart-data="store.piePoints" chart-columns="store.pieColumns"></c3chart>
  </div>
</div>
