<div class="box effect">

<dokoenq-enquete-title></dokoenq-enquete-title>

<h4>確認画面</h4>
<div>
  <ul>
    <li ng-repeat="(no, q) in confirm.questions">
      <dt>
        {{no | uppercase}} {{q.question}}
      </dt>
      <dd>
        A {{q.type == 'select' ? q.items[confirm.tempAnswer[no]] : confirm.tempAnswer[no]}}
      </dd>

    </li>
  </ul>
</div>
</div>

<div>
  <nav>
    <ul class="pager">
      <li class="previous">
        <a href="/question">
          <span aria-hidden="true">&larr;</span>戻る
        </a>
      </li>
      <li class="next">
        <a ng-click="confirm.store()" href="/complete">
          <!-- <span aria-hidden="true"></span> -->
          回答する
        </a>
      </li>
    </ul>
  </nav>
</div>
